# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.csync_journal.db
example_*

# C extensions
*.so

# Temporay files
*.log
*.bak
*.swp
*.out
*~
*~*

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
**/.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log

# Komodo
*.komodoproject
.komodotools

# pyCharm
.idea

# *.pot is used for translations templates

# Sphinx documentation
docs/_build/

# OSX Files
*.DS_Store

# Altro
/.settings/
stdout.log
*.oca
*.z0i
.gitrepname
